


.container {
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
  background-color: rgb(18, 24, 67);
  
}

/* Style for the input field */
input[type='text'] {
  width: calc(100% - 50px); /* Subtracting padding */
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 18px;
  font-size: 18px;
  font-family: cursive;
  font-weight: bold;
  border-radius: 5px;
}
.row{
  margin-left: 16px;
}
.lastrow{
  margin-left: 16px;
  margin-bottom: 10px;
}

/* Style for the calculator buttons */
.btn {
  width: 70px;
  height: 50px;
  font-size: 18px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

/* Style for the equals button */
.btn-equal {
  background-color: #28a745;
  color: #fff;
}

/* Style for the clear button */
.btn-clear {
  background-color: #dc3545;
  color: #fff;
}

/* Hover effect for buttons */
.btn:hover {
  background-color: #080707;
  color: #fff;
  
}

/* Active effect for buttons */
.btn:active {
  background-color: #318f4c;
}
